*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white
    
}
html,body{
    height: 100%;
    width: 100%;

}
#cursor{
    height:15px;
    width: 15px;
    background-color:  rgba(170, 255, 0, 0.847);
    border-radius:50px;
    z-index: 99;
    position: fixed;
}
#cursor-background-blur{
    height:400px;
    width: 400px;
    background-color: #e1ff002e;
    border-radius:50%;
    position: fixed;
    filter: blur(90px);
    z-index: 1;
}
#nav{
    height: 10px;
    width: 100%;
    display: flex;
    gap: 60px;
    justify-content: flex-start;
    padding: 50px 100px;
    align-items: center;
    position: fixed;
    z-index: 10;   
}
#nav h4{
    cursor: pointer;
    transition: .3s ease;
    font-family: sans-serif;
}
#nav h4:hover{
    color:rgba(170, 255, 0, 0.847) ;
}
#image-logo img{
    height: 80px;
    padding-left:30px;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative ;
    background-color:rgba(0, 0, 0, 0.37 );
}
#page1{
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#page1 h1{
    font-size: 130px;
    width: 80%;
    font-weight: 900;
    position: relative;

}
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: rgb(0, 0, 0);
    top: -5px;
    right: 10px;
    -webkit-text-stroke: 2px  rgba(170, 255, 0, 0.847);
    z-index: -1;
    
}
#page1 h2{
    font-size: 30px;
}
#page1 p{
    padding-top: 20px;
    font-size: 17px;
    width: 40%;
}
#page2{
    height: 100vh;
    width: 100%;
}
#move{
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#move-sidescroll{
    display: inline-block;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;    
}

#move h1{
    display: inline-block;
    font-size: 110px;
    font-weight: 900;
    margin-right: 30px;
    font-family:sans-serif;
    color: black;
    transition: .2s;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}
 @keyframes scroll {
    from{
        transform: translateX(0);
    }to{
        transform: translateX(-100%);
    }
} 
#move h1:hover{
    color:  rgba(170, 255, 0, 0.847);
    -webkit-text-stroke:  rgba(170, 255, 0, 0.847);
}
